<%-include('../../views/partials/user/header.ejs')%>
<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
 <style>
  .product-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .add_cart {
        order: 1;
    }
    .wishlist {
        order: 2;
    }
    .indian-rupee::before {
        content: "\20B9"; 
        font-family: Arial, sans-serif;
        margin-right: 2px;
        font-weight: 300; 
        color: #666; 
    }
    .category-container {
        display: flex;
        gap: 20px; 
        flex-wrap: wrap; 
        align-items: center; 
    }

    .single_product_menu p {
        margin: 0; 
        padding: 0; 
    }
 </style>
<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="category-container d-flex ">
                            <% for(i = 0; i < category.length; i++) { %>
                            <div class="single_product_menu">
                                <p><%= category[i].name %></p>
                            </div>
                            <% } %>
                        </div>
                    
                           
                        </div>
                    </div>
                </div>
                

                <div class="row align-items-center latest_product_inner">
                    <%for(i=0;i<products.length;i++){%>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_product_item ">
                            <a href="/productDetails/<%=products[i]._id%>">
                            <img class="default-img" src="/uploads/product-images/<%=products[i].productImage[0]%>" alt="<%=products[i].productName%>">
                            </a>
                            <div class="single_product_text">
                                <h4><%=products[i].productName%></h4>
                                <h3><span class="indian-rupee"></span><span style="text-decoration: line-through; color: #a0a0a0;">
                                    <%= products[i].regularPrice %>
                                </span>&nbsp;&nbsp;<span class="indian-rupee"></span><%=products[i].salePrice%></h3>
                                <div class="product-actions">
                                    <a href="/addToCart?id=<%=products[i]._id%>" class="add_cart">+ add to cart</a>
                                    <a href="/addToWhishlist?id=<%=products[i]._id%>" class="wishlist ti-heart"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>

                </div>
            </div>
        </div>
    </section>
    <%-include('../../views/partials/user/footer.ejs')%>